*{
    margin: 0;

    padding: 0;
}


body {
    background-color: rgb(255, 255, 255);
}
header{
    background-color: rgb(255, 255, 255);
}
#nav {
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
}
header nav li {
    display: inline-block;
}
header nav a {
    display: block;
    color: rgb(0, 0, 0);
    padding: 20px;
    text-decoration: none;
}
header nav :hover {
    color: orange;
}
.flex-container{
    text-align: center;
    display: flex;
    justify-content: space-between;
    font-family: Arial, Helvetica, sans-serif;
}
.align center {
    align-items: center;
}
#Lid nav a{
    margin: 15px;
    padding: 10px;
    color: white;
    background-color: orange;
}
#Lid nav :hover {
    color: rgb(180, 99, 0);
}
#MYBASIC {
    color: lightslategray;
    margin: 5px;
}
#logo {
    margin: 20px;
}
#zoeken {
    margin: 25px;
}
#nav {
    margin: 5px;
}